<h1 class="text-center mt-4">{{ viewHeader?.title }}</h1>

<form [formGroup]="form" autocomplete="off" class="form mt-4" (ngSubmit)="onSend()">
  <div class="form-group mb-3">
    <input
      class="form-control inputPadding"
      [placeholder]="viewContentEmail.label"
      [type]="viewContentEmail.input.type"
      [formControlName]="viewContentEmail.input.control"
      #email
      required
    />
    <div class="text-warning d-block mt-2" role="alert"
    *ngIf="form.controls[viewContentEmail.input.control]?.invalid && form.get(viewContentEmail.input.control)?.touched">
      {{ viewContentEmail.errorMsg }}
    </div>
  </div>
  <div class="d-grid gap-2 mt-4 mb-3">
    <button
    #btnSend
    type="submit"
    class="btn btn-info text-white btn-lg"
    [disabled]="form.invalid"
  >
    {{ viewFooter.btnAction.text }}
  </button>
  <div *ngIf="sendMessage" class="alert alert-success mt-3" role="alert">
     Seu e-mail foi enviado com sucesso. Veja seu e-mail para recupearar a senha.
  </div>
  </div>
</form>
<hr>
<div class="d-grid gap-2 mb-3">
  <a class="link-register btn btn-secondary btn-lg"
  (click)="navigate()">Voltar ao Login</a>
</div>


