<h2 class="title">Meu Perfil</h2>
<img *ngIf="users?.photoURL !== null" [src]="users?.photoURL" class="rounded-circle mx-auto d-block imgUserHeader" alt="Meu Perfil user" />
<img *ngIf="users?.photoURL === null" [src]="imageUser" class="rounded-circle mx-auto d-block imgUserHeader" alt="Meu Perfil imageUser" />
<a routerLink="/home/trocar-foto" class="btn btn-info btn-sm mb-3 btn-update-photo">Trocar Foto</a>
  <div class="contentProfile">
    <div class="mb-1 row">
      <div><strong>Usuário:</strong> {{ users?.displayName }}</div>
    </div>
    <div class="mb-1 row">
      <div><strong>Celular:</strong> {{ users?.phoneNumber }}</div>
    </div>
    <div class="mb-1 row">
      <div><strong>E-mail:</strong> {{ users?.email }}</div>
    </div>
<!--     <div class="mb-1 row">
      <label for="password" class="col-sm-2 col-form-label">Senha</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password">
      </div>
    </div> -->
    <div class="d-grid gap-2 mt-4">
      <a routerLink="/home/editar-perfil" class="btn btn-primary mb-3">Editar Perfil</a>
    </div>
  </div>

