<h2 class="title">
  <a routerLink="/home/perfil"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
  Editar Perfil</h2>

<form class="row g-3 formProfile" [formGroup]="formProfile" (ngSubmit)="onSubmit()">
  <div>
    <div class="mb-1 row">
      <label for="user" class="col-sm-2 col-form-label">Usuário</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="displayName"
        [(ngModel)]="users.displayName">
      </div>
    </div>
    <div class="mb-1 row">
      <label for="phone" class="col-sm-2 col-form-label">Celular</label>
      <div class="col-sm-10">
        <input type="tel" [imask]="imaskConfig" class="form-control" formControlName="phoneNumber"
        placeholder="(00) 00000-0000" [(ngModel)]="users.phoneNumber">
      </div>
    </div>
    <div class="mb-1 row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" readonly class="form-control" formControlName="email" [(ngModel)]="users.email">
      </div>
    </div>
    <div class="d-grid gap-2 mt-4">
      <button type="submit" class="btn btn-primary mb-3">Salvar Perfil</button>
    </div>
  </div>
</form>
