<img *ngIf="loading" class="loading" [src]="imgLoading" alt="Carregando">
<div *ngIf="!loading">
  <h2 class="title">Filmes</h2>

  <div class="text-white mb-4" *ngIf="moviesAction?.length">
    <h3>Ação</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesAction">
        <ng-template *ngIf="slide.iconUrl != null" carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesAnimation?.length">
    <h3>Animação</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesAnimation">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesAdventure?.length">
    <h3>Aventura</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesAdventure">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesComedy?.length">
    <h3>Comédia</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesComedy">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesDocumentary?.length">
    <h3>Documentário</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesDocumentary">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesDrama?.length">
    <h3>Drama</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesDrama">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesRomance?.length">
    <h3>Romance</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesRomance">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesThriller?.length">
    <h3>Suspense</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesThriller">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="text-white mb-4" *ngIf="moviesHorror?.length">
    <h3>Terror</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of moviesHorror">
        <ng-template carouselSlide [width]="150">
          <div class="slide">
            <img [src]="slide.iconUrl" [alt]="slide.title" (click)="goToMovie(slide)">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

</div>
