.title {
    font-size: 30px;
    margin-bottom: 1.3rem;
}

.loading {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

.slide img {
  border: 1px solid #ccc;
  border-radius: 3%;
}
