.title {
    font-size: 25px;
    margin-bottom: 1.3rem;
}

.loading {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
}

.slide img {
  border: 1px solid #ccc;
  border-radius: 3%;
  background-color: #888;
  height: 220px;
}
