h2 {
  margin-top: 30px;
  text-align: center;
  line-height: 3;
}

.card-text {
  text-align: center;
}

.loading {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
}


.imgUser {
  border: 2px solid #fff;
  width: 100%;
  max-width: 130px;
  margin-bottom: 8px;
}
