.container {
  padding-left: 20px;
  padding-right: 20px;

  .logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    padding-top: 22px;
    display: flex;
  }

  .content {
    flex: 1;
  }

  .link-start {
    margin-top: 25px;
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
