::ng-deep .mat-bottom-sheet-container {
  background-color: #43464a;
  color: #fff;
  border-top: 1px solid #fff;
  box-shadow: 1px 1px 2px 2px #ccc;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.flexImage {
  border: 1px solid #ccc;
  border-radius: 3%;
  width: 180px;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #888;
  height: 220px;
}

.btnMovie {
  text-align: center;
  margin-top: 10px;
  display: block;
}

