<header>
  <a *ngIf="!isAuth" [routerLink]="'/'">
    <img class="logo" [src]="imagePath" alt="Logo LibrasVideos">
  </a>
  <a *ngIf="isAuth" [routerLink]="'/'">
    <img class="logoSmall" [src]="imageSmallPath" alt="Logo LibrasVideos">
  </a>
<!--   <button *ngIf="!isAuth" type="button" class="btn btn-secondary float-end" [routerLink]="'login'">
    Login
  </button> -->
  <img (click)="onToggleSidenav()" *ngIf="isAuth" [src]="imageUser" class="rounded-circle imgUserHeader" alt="Usuário">
  <a class="float-end" *ngIf="isAuth" [routerLink]="'busca-filmes'">
    <span class="material-icons search">
      search
    </span>
  </a>
</header>
