header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .logo {
    width: 100%;
    max-width: 170px;
    height: auto;
  }

  .logoSmall {
    width: 100%;
    max-width: 70px;
    height: auto;
  }

  .imgUserHeader {
    border: 2px solid #fff;
    width: 100%;
    max-width: 40px;
    float: right;
  }

  .search {
    color: #fff;
    font-size: 35px;
    padding-right: 8px;
    padding-top: 5px;
  }
}

