<h1 class="text-center mt-4">{{ viewHeader?.title }}</h1>

<form [formGroup]="formRegister" autocomplete="off" class="form mt-4" (ngSubmit)="cadastrar()">
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control inputPadding"
      placeholder="Nome Completo"
      [(ngModel)]="name"
      formControlName="name"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formRegister.controls['name']?.invalid && formRegister.get('name')?.touched">
      Email inválido
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      class="form-control inputPadding"
      [type]="viewContent?.input?.type"
      placeholder="Email"
      [(ngModel)]="email"
      formControlName="email"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formRegister.controls['email']?.invalid && formRegister.get('email')?.touched">
      Email inválido
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="tel"
      inputMode="tel"
      class="form-control inputPadding"
      placeholder="Número de Celular"
      [(ngModel)]="celular"
      formControlName="celular"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formRegister.controls['celular']?.invalid && formRegister.get('celular')?.touched">
      Celular inválido
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control inputPadding"
      placeholder="Senha"
      [(ngModel)]="password"
      formControlName="password"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formRegister.controls['password']?.invalid && formRegister.get('password')?.touched">
      Senha inválida
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control inputPadding"
      placeholder="Confirma Senha"
      [(ngModel)]="confirmPassword"
      formControlName="confirmPassword"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formRegister.controls['confirmPassword']?.invalid && formRegister.get('confirmPassword')?.touched">
      Senha não corresponde
    </div>
  </div>
  <div class="d-grid gap-2 mt-4 mb-3">
    <button
    type="submit"
    class="btn btn-info text-white btn-lg"
    [disabled]="formRegister.invalid"
  >
    Cadastrar
  </button>
  </div>
</form>
<hr>
<p class="text-center">
  Já é Usuário?
</p>
<div class="d-grid gap-2 mb-3">
  <a class="link-register btn btn-secondary btn-lg"
  (click)="navigate()">Logar</a>
</div>
