footer {
  font-size: 0.72rem;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;

  span {
    margin: 5px;
    ul {
      list-style: none;
      display: contents;
      a {
        text-decoration: none;
        color: #0dcaf0;
      }
    }
  }
}

