<mat-nav-list>
  <mat-list-item>
    <a matLine [routerLink]="'perfil'" (click)="onClose()">
     Meu Perfil
    </a>
 </mat-list-item>
  <mat-list-item>
     <a matLine [routerLink]="'filmes'" (click)="onClose()">
      Filmes
     </a>
  </mat-list-item>
  <!-- <mat-list-item>
    <a matLine [routerLink]="'favoritos'" (click)="onClose()">
     Meus Favoritos
    </a>
 </mat-list-item> -->
  <mat-list-item>
    <a matLine color="warn" (click)="onLogout()">
      Sair <span class="material-icons md-18 md-padding">output</span>
    </a>
  </mat-list-item>
</mat-nav-list>
