<div class="container mb-4">
  <div class="card">
    <div class="card-header">
      Listagem de Filmes
      <button (click)="goToMoviesCreate()" class="btn btn-info float-end">
        Adicionar Novo Filme
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" (click)="sortData()">#</th>
              <th scope="col">Título</th>
              <th scope="col">Capa</th>
              <th scope="col">Vídeo</th>
              <th scope="col">Diretor</th>
              <th scope="col">Categoria</th>
              <th scope="col">Faixa Etária</th>
              <th scope="col">Ano</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies; let i = index;">
              <th scope="row">{{ movie.seqNo }}</th>
              <td>{{ movie.title }}</td>
              <td>
                <img *ngIf="movie.iconUrl" class="imgThumbnail capa" [src]="movie.iconUrl" alt="movie.title" />
                <span *ngIf="!movie.iconUrl" class="badge bg-secondary capa-texto">Sem Imagem</span>
               <!--  <button class="btn btn-primary btn-sm btn-capa">Trocar Capa</button> -->
              </td>
              <td style="width: 300px;">
                <div class="embed-container">
                  <iframe src="https://player.vimeo.com/video/45134899?h=a65271635a&title=0&byline=0&portrait=0" frameborder="0"></iframe>
                </div>
              </td>
              <td>{{ movie.director }}</td>
              <td>
                {{ moviesService.getCategoryByName(movie.category) }}
              </td>
              <td>
                <span *ngIf="movie?.age == this.getAges[0].arrayAge.toString()" [ngClass]="{'bg-success': movie?.age == this.getAges[0].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[0].valueAge }}</span>
                <span *ngIf="movie?.age == this.getAges[1].arrayAge.toString()" [ngClass]="{'bg-info': movie?.age == this.getAges[1].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[1].valueAge }}</span>
                <span *ngIf="movie?.age == this.getAges[2].arrayAge.toString()" [ngClass]="{'bg-warning': movie?.age == this.getAges[2].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[2].valueAge }}</span>
                <span *ngIf="movie?.age == this.getAges[3].arrayAge.toString()" [ngClass]="{'bg-orange': movie?.age == this.getAges[3].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[3].valueAge }}</span>
                <span span *ngIf="movie?.age == this.getAges[4].arrayAge.toString()" [ngClass]="{'bg-danger': movie?.age == this.getAges[4].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[4].valueAge }}</span>
                <span *ngIf="movie?.age == this.getAges[5].arrayAge.toString()" [ngClass]="{'bg-dark': movie?.age == this.getAges[5].arrayAge.toString()}" class="fs-6 mx-2 badge">{{ this.getAges[5].valueAge }}</span>
              </td>
              <td>{{ movie.year }}</td>
              <td>
                 <a [routerLink]="['/admin/filme', movie.id]" class="btn btn-info btn-sm" placement="top" ngbTooltip="Editar {{ movie.title }}">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <button (click)="confirmDelete(movie)" class="btn btn-danger btn-sm mx-2" placement="top" ngbTooltip="Deletar {{ movie.title }}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td colspan="6">
                <img  class="loading" [src]="imgLoading" alt="Carregando">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
