.inputPadding {
  padding: 10px;
}

.logoGoogle {
  float: left;
  width: 100%;
  max-width: 25px;
  padding-top: 3px;
}

.forget {
  display: flex;
  justify-content: flex-end;

  a {
    &.link-forget {
      text-decoration: none;
      color: #0dcaf0;
    }
  }
}
