<h1 class="text-center mt-4">{{ viewHeader?.title }}</h1>

<form [formGroup]="formLogin" autocomplete="off" class="form mt-4" (ngSubmit)="login()">
  <div class="form-group mb-3">
    <input
      class="form-control inputPadding"
      [type]="viewContent?.input?.type"
      [placeholder]="viewContent?.label"
      [(ngModel)]="email"
      formControlName="email"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formLogin.controls['email']?.invalid && formLogin.get('email')?.touched">
      Email inválido
    </div>
  </div>

  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control inputPadding"
      placeholder="Senha"
      [(ngModel)]="password"
      formControlName="password"
      required
    />
    <div class="text-warning d-block mt-2" role="alert" *ngIf="formLogin.controls['password']?.invalid && formLogin.get('password')?.touched">
      Senha incorreta
    </div>
  </div>
  <div class="d-grid gap-2 mt-4 mb-3">
    <button
    type="submit"
    class="btn btn-info text-white btn-lg"
    [disabled]="formLogin.invalid"
  >
    Acessar
  </button>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    Usuário não encontrado
  </div>
  </div>
</form>
<hr>
<p class="text-center">
  Novo Usuário?
</p>
<div class="d-grid gap-2 mb-3">
  <a class="link-register btn btn-secondary btn-lg"
  (click)="navigate()">Cadastre-se</a>
</div>

