<div class="container marginTop">
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <img class="logo" [src]="imagePath" alt="Logo LibrasVideos">
      <div class="card border border-dark">
        <h5 class="card-header bg-primary text-center">Painel Administrativo</h5>
        <div class="card-body text-black">

          <form [formGroup]="formLogin" autocomplete="off" class="form" (ngSubmit)="login()">
            <div class="form-group mb-3">
              <input class="form-control inputPadding" [placeholder]="viewContentEmail.label" [type]="viewContentEmail.input.type"
                [formControlName]="viewContentEmail.input.control" required />
              <div class="text-danger d-block mt-2" role="alert"
                *ngIf="formLogin.controls[viewContentEmail.input.control]?.invalid && formLogin.get(viewContentEmail.input.control)?.touched">
                {{ viewContentEmail.errorMsg }}
              </div>
            </div>

            <div class="form-group mb-3">
              <input class="form-control inputPadding" [placeholder]="viewContentSenha.label" [type]="viewContentSenha.input.type"
                [formControlName]="viewContentSenha.input.control" required />
              <div class="text-danger d-block mt-2" role="alert"
                *ngIf="formLogin.controls[viewContentSenha.input.control]?.invalid && formLogin.get(viewContentSenha.input.control)?.touched">
                {{ viewContentSenha.errorMsg }}
              </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button type="submit" class="btn btn-info text-white btn-lg" [disabled]="formLogin.invalid">
                {{ viewFooter.btnAction.text }}
              </button>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                <strong>Erro:</strong> Usuário e/ou senha incorretos
              </div>
            </div>
          </form>

        </div>

      </div>

    </div>
  </div>

</div>

