.marginTop{
  margin-top: 5rem;
}

.logo {
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto;
  margin-bottom: 25px;
}

.inputPadding {
  padding: 10px;
}

.btn-info:disabled {
  color: #cccccc !important;
  background-color: grey;
  border-color: #545e68;
}
