/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  padding:0;
  background-color: #000000 !important;
}

html{
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
}

* {
  box-sizing: border-box;
}

.content {
  flex: 1;
}

a {
  text-decoration: none;
  color: #0dcaf0;
}

footer {
  flex-shrink: 0;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
