/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #0dcaf0;
}
