/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
  background-color: #000000 !important;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 66vh;
}

a {
  text-decoration: none;
  color: #0dcaf0;
}

a:focus-visible {
  outline: none;
}

footer {
  margin-top: auto;
}

.mat-drawer-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.mat-drawer {
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  padding: 10px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
